@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

$font-family: 'Source Sans Pro', sans-serif;
$background-body: #8BBBD9;
$shadow: #caeafd;
$background-two: #f2f2f2;
$shadow-two: rgb(255, 255, 255);
$dark-blue: #2E5E80;